#login_form {
  width: 31%; 
  float: left; 
  margin-left:100px;
 
}
.custom {
  margin-left: 160px;
  width: 100px;
}
.register {
  margin-left: 15px;
  width: 100px;
}
#register_form {
  margin-top: -150px;
}
#register_title {
  margin-left: 60px;
}
.student_register {
  width: 100px;
}
.error{
  border: 1px solid red;
}
#edit_question {
  width: 600px;
  height: 30px;
}
#add_question {
  margin-left: 40%;
}
th {
  text-align: center;
}
#survey_submit {
  margin-left: 45%;
}
.col-md-9 {
  margin-left: 150px;
}
.col-md-11 {
  margin-left: 50px;
}
#buttons {
  margin-left: 15%;
}
#question {
  width: 600px;  
}
#nav {
  background-color: #D5D5D5;
  border: 1px solid #B8B8B8;
  padding-top: 6px;

  padding-left: 3px;
  margin-left:40px;
  margin-right:40px;
}

#nav a {
  border: 1px solid #B7B7B7;
  padding: 6px;
  background-color: #F3F3F3;
  color: #0077B4;
  font-weight: bold;
  text-decoration: none;
  font-family: Verdana, Sans-Serif;
  font-size: 12px;
}
#nav a:hover {
  color: #00A8FF;
  background-color: #ffffff;
  border: 1px solid #727272;
  border-bottom: 1px solid #ffffff;
}
#add_q {
  margin-left: 200px;
}
#login {
  margin-left: 38%;
}
#login_title {
   margin-left: 25%;
   color: #488AC7;
}
#login_submit {
  width: 100px;
  margin-left: 80px;
}
#username {
  height: 30px;
   width: 130px;
}
#password {
  height: 30px;
 width:130px;
 margin-left: 10px;
}
#password_signin {
  height: 30px !important;
 width:130px;
}
input[type=checkbox] {
  width:15px;
  height:15px;
}
.results-bar {
  padding: 10px;
  color: white;
  background: url(/survey/css/images/result-bar-bg.png) left center;
  white-space: nowrap;
}
span.total-votes {
  font-size: 2.6em;
}
.progress {
  width: 300px;
  text-align: center;   
}
#reg_form {
  margin-left: 160px;
  width: 100px;
  padding: 6px 6px;
}

#user_login {
  margin-left:400px;
 width:130px;
  height: 30px;
}
#title_success {
  margin-left: 260px;
  color: #488AC7;
}
.login_custom {
  margin-left: 480px;
  width: 100px;
}
#mtabs_wrapper {
  width: 422px;
}
#mtabs_container {
  border-bottom: 1px solid #ccc;
}
#mtabs {
  list-style: none;
  padding: 5px 0 4px 0;
  margin: 0 0 0 0px;
}
#mtabs li {
  display: inline;
}
#mtabs li a {
  border: 1px solid #ccc;
  padding: 4px 6px;
  text-decoration: none;
  color:#000;
  font-family: Artifika, serif; 
  background-color: #eeeeee;
  font-size:14px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
#mtabs li a:hover {
  background-color: #dddddd;
  padding: 4px 6px;
}
#mtabs li.active a {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 4px 6px 5px 6px;
}
#mtabs li.active a:hover {
  background-color: #eeeeee;
  padding: 4px 6px 5px 6px;
}
 
#mtabs li a.icon_accept {
  background-image: url(accept.png);
  background-position: 5px;
  background-repeat: no-repeat;
  padding-left: 24px;
}
#mtabs li a.icon_accept:hover {
  padding-left: 24px;
}
 
#mtabs_content_container {
  border: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  width: 1000px;
}
.mtab_content {
  display: none;
}
#password_login {
  margin-left: 10px;
 width:130px;
  height: 30px;
}
.vertical-progressbar{
  float: left;
  margin-right: 60px;  
}


.vertical {
  width: 30px;
  height: 200px !important;
 

  position: relative;
}
.vertical .bar {
  width: 100% !important;

  position: absolute;
  bottom: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;  
}
.progress.vertical {
  width: @progressbarVerticalWidth;
  height: 100%;
  margin-right: @progressbarVerticalWidth;
}

.progress.vertical.bottom .progressbar-front-text {
  position: absolute;
  bottom: 0;
}

.progress.vertical .progress-bar {
  width: 100%;
  height: 0;
 /* padding-top: 130%;*/
  font-size:9px !important;
  .transition(height .6s ease);
}


.progress.vertical.bottom .progress-bar {
  position: absolute;
  bottom: 0;
}

// bootstrap-progressbar reverted low percentages styles
// -----------------------------------------------------

.progress-bar {
 
    &.progress-bar-success {

      .progress-bar-variant(@progress-bar-success-bg);
    }

    &.progress-bar-info {
      .progress-bar-variant(@progress-bar-info-bg);
    }

    &.progress-bar-warning {
      .progress-bar-variant(@progress-bar-warning-bg);
    }

    &.progress-bar-danger {
      .progress-bar-variant(@progress-bar-danger-bg);
    }
  }
}

#average {
  margin-left: 50%;
  font-weight: bold;
}
#average1 {
  margin-left: 8%;
  font-weight: bold;
}
#show_error {
  margin-left: 25%;
}
#chart_container {
  margin-left: 13%;
}
#chart_title {
  font-weight: bold;
  margin-left: 30%;
}
input[type=radio] {
  width:15px;
  height:15px;
}
#chart {
  margin-left: 110px;
}

#question2_name {
  padding-left: 5px;
}
#header_title {
  padding-left: 50px;
}
#average {
  padding-left: 250px;
  font-weight: bold;
}
#average_tab1 {
   font-weight: bold;
}
.meow { width: 350px; height: 400px; display: block; float: left; 
  background: #FFFF99; border: 1px solid #000; }
.student_div { width: 400px; height: 400px; display: block; 
  float: left; background: #FFFF99; border: 1px solid #000; }
.clearfix { clear: both }
.contain { margin-left: 150px; }
#pagination {
  text-align: center;
}
.sorting_disabled {
  background-color: #A9A9A9;
}

thead {
  background-color: #A9A9A9;
}
#student_results {
  margin-left: 20px;
  margin-top: 30px;
}
#students_show {
  margin-left: 30%;
  margin-top: 30px;
}
#submit_add_question {
  margin-left: 47%;
}
#button {
  margin-left: 45%;
}

#table2 {
  margin-left:15%;
}
#student_surveys {
  margin-left:130px;
 font-size: 16px !important;
}


#student_surveys_submit {
  margin-left:350px;
}
#unapproved_users {
   margin-left: 20%; 
}

#survey_manage {
  margin-left:60px;
}
.filters {
  background-color: white;
}
.filters input {
  height: 25px;
}
tfoot input {
    height: 25px; 
    text-align:center; 
}
thead input {
    height: 25px; 
    text-align:center; 
}

#teacher_student_show {
  margin-left:40px;
}

#teachers_show {
  margin-left: 0%;
 
}
#coord_show {
  margin-left: 30px; 
}

#add_users {
  margin-left: 35%;
}
#delete_users {
  margin-left: 35%;
}
#wait_approval {
  margin-left:40%;
}
#home_code {
  width: 170px;
  height: 30px;
  margin-left:20px;
}
#div_code {
  margin-top: 10px;
  width: 40%; 
  float: left; 
  margin-left:180px;'
}
#code_submit {
  margin-left:60px;
}
#container_login {
  width: 100%;
}
#other_users {
  margin-left: 60%;
  margin-top: -5%;
}
#added_users {
   margin-left: 13%;
}
#next {
  margin-left: 45%;
}
 #select_teacher {
  margin-left: 20px;
  font-size: 16px !important;

}
#thead_teacher_subject {
    font-size: 18px !important;
}
#subject {
  margin-left: 20px;
  font-size: 16px !important;
}
#location_filling {
  margin-left: 20px;
  font-size: 16px !important;
}
#instructions3 {
  text-align: center;

}

#add_teacher_subject {
  margin-left: 100px;
  width: 640px;

}
#add_teacher_subject1 {
 
  width: 280px;
}
#eeagrants_logo {
  margin-top: -40px !important;
  margin-left: 60%;
}

#logos {
  display: inline;
}

#survey3 {
  margin-left: 25%;
  margin-top: -1%;
}
#survey3_button {
margin-left:40%
}
#logout_form {
  
  width: 40%; 
  float: right;
}
#span {
text-align: center;
float: left;
margin-left: 10px;
width: 18%;
	

}
#span1 {
   margin-left: 0px;
   text-align: center;
   float: left;
width: 18%;
	
 }
#question_span {
   font-weight: bold;
   font-size: 18px !important;
width: 90%;
}
#answers_div {
   font-size: 16px !important;
width: 90%;
position: absolute;
}
#part2_survey3 {
text-align: center;
float: left;
margin-left: 3%;

}
#part1_survey3 {
text-align: center;
float: left;
margin-left: 0%;

}
#survey_instructions {
    font-size: 16px !important;
}
#survey_container {
    width: 90% !important;
margin-left: 5% !important;

}
#reject_participation {
    text-align: center;
    float: left;
    margin-left: 0%;
}
#confirm_participation {
    text-align: center;
    float: left;
    margin-left: 5%;
}
#participation {
    margin-left: 25%;
}
.confirm {
     margin-left: 38%;
}
#initial_instructions {
     margin-left: 5%;
}
#success_show {
 margin-left: 35%;
}
 #radio{
font-size: 16px !important; 
font-weight: normal;

}
#participation_show {
margin-left: 4%;
font-size: 14px !important;
}
#instructions_survey {
text-decoration: underline;
font-weight: bold;
}
select {
  font-size: 16px !important;
}
#add_quaestor {
  margin-left: 50%;
}
#instructions_bold {
  font-weight: bold;
}
#quaestors {
  font-size: 16px !important;
  padding-bottom: 10px;
}
#survey_submit {
  margin-left: 45%;
}
#surveys_manage {
    margin-left: 30%;
}
#validation_errors {
  color: red;
}
.valid_errors{
    color: red;
    border: 0px !important;
    padding-bottom: 10px;
}
#min_symbols {
   font-size: 12px !important;
}
#sub_title {
  font-size: 24px !important;
  width: 90%;
  position: absolute;
  text-align: center;
}
#footer {
  background: #E5E5E5;
  color: #005695 !important;
  text-align: center !important;
  padding: 40px 0px;
  height: 220px;

}
#project_wrapper a {
 color: #005695 !important;

}
.logo {
  margin-top: -30px !important;

}
.project_info {
  text-align: left; 
}
.project_p, .project_p a {
  margin: 0px 0px 9px  !important;
  font-weight: 600 !important;
  } 
.project_logo {
  margin: 0px 0px 9px  !important;
  text-align: center;
  padding-left: 15px !important;
  padding-right: 15px !important;
  display: block !important;
}
#project_wrapper {
  margin-left: auto;
  padding-left: 80px !important;
  padding-right: 15px !important;
  margin-right: auto;
  padding: 50px 0px;
  font: 13px "Trebuchet MS",arial,sans-serif;

}
#footer_wrapper {
  display: block !important;
}

#eeagrants {
  padding-left: 80px !important;
}
#zaednovchas {
  color: #999 !important;
  text-align: center !important;
  height: 220px;
  padding: 0px 0px 43px 80px ;
  font-family: "Trebuchet MS",arial,sans-serif;
  font-size: 13px;
}
#teach_text {
  font-style: italic;
} 
.fa-2x {
  font-size: 2em;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #787878 !important;
}
.col-md-3 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
#social_links {
  display: inline-block;
  padding-left: 10px;
  padding-top: 5px;
  font-family: "Trebuchet MS",arial,sans-serif;
  font-size: 13px;

}
.teach_info {
  text-align: left;
}
#teach_title {
  font-weight: bold !important;
  color: #000;
}

body {
  font-size: 16px !important;
  font-family: Georgia,"Times New Roman",Times,serif;
  color: #787878;
 
}
#encoding_results {
  float: left;
  margin-left: 25px;
  display: inline-block;
}
#encoding_button {
  float: left;
  display: inline-block;
}
#encoding_link
{
  background-color:transparent !important;
}
.paginate_button {
  font-size: 12px !important;
}
.center { text-align: center; }
#add_survey {
  margin-left: 30px;
}
#survey_add {
  border: 1px solid #CCC;
  width: 420px;
  height: 100px;
  padding: 25px;
  border-radius: 5px;
}
/* Not uploaded in Vratsad */

.msg_error {
  font-size: 14px !important;
  color: #d9534f;
  margin: 0 0 10px;
}

.border_error {
  border: 1px solid #d9534f !important;
}